@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html{
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.main {
  padding-right: 0;
  padding-left: 0;
}
@media screen and (min-width: 1200px) {
  .bg-about {
    background-image: url(../imgs/shapes/1.svg);
  }
}

.text-footer {
  color: #8892a0 !important;
}