.spacer-xs {
  width: 100%;
  height: 10px;
}
.spacer-sm {
  width: 100%;
  height: 20px;
}
.spacer-md {
  width: 100%;
  height: 50px;
}
.spacer-lg {
  width: 100%;
  height: 100px;
}
.spacer-xl {
  width: 100%;
  height: 500px;
}
@media screen and (max-width: 992px) {
  .spacer-ulg-md {
    width: 100%;
    height: 50px;
  }
}